body 
{font-family: 'Montserrat', sans-serif;
}

header{background:#BBBBBB;
padding: 20px 0
}

.caixa{ width:940px;
position: relative;
margin: 0 auto;
text-decoration: none;
}

nav{ position: absolute;
top: 110px;
right:0
}

nav li { display:inline;
 margin: 0 0 0 15px;
}                                                  

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover{
	color:#C78C19;
	text-decoration: underline;
	text-decoration: none;
}


.produtos{ width: 940px;
margin: 0 auto ;
padding: 50px 0
}

.produtos li {
display: inline-block;
text-align: center;
vertical-align: top;
width:30%;
margin: 0 1.5%;
padding: 30px 20px;
box-sizing: border-box;
border:2px solid #000000;
border-radius: 10px}

.produtos li:hover{border-color:#C78C19 }

.produtos li:active {border-color: #088C19}

.produtos li:hover h2{font-size: 34px
}

.produtos h2{font-size: 30px;font-weight: bold
}

.descricao{font-size: 18px 
}

.preço{ font-size: 22px;font-weight: bold;margin-top: 10px
}
footer{
	background:url(./img/bg.jpg);
	text-align: center;
	padding: 40px
}

.copyright{color: #FFFFFF;
font-size: 13px;
margin:20px;
}

form{width: 940px;
margin: 0 auto;
}

form p{
	padding: 20px;
}


form label,form legend{
display: block;
font-size: 20px;
margin: 0,5em 0 1em;
padding: 5px;
}
.preencher{padding: 40px 0px 0 80px;

}
fieldset{
	padding: 5px;
}
fieldset p{
	padding: 3px;
}
#mensa{
	vertical-align: top;
}

.input-padrão{ display:block;
margin: 0 0 20px;
padding: 10px 25px;
width: 35%; 
}

.checkbox { margin: 20px 0 }

.enviar { width:40%;
padding: 15px 0;
background-color:orange;
color:white;
font-weight: bold;
font-size: 18px;
border:none;
border-radius: 5px;
 transition: 1s all;
 cursor: pointer
}

.enviar:hover {
 background: darkorange;
transform: scale(1.2)
}

table{margin: 60px 10em;
}


thead{background: #555555;
color:white;
font-weight: bold;
}

td,th { border: 1px solid #000000;
padding: 8px 15px
}

/*Css da pagina inicial*/

.banner {
width: 90%;
padding:4em;
}

.titulo-principal{
text-align:center;
font-size: 2em;
margin: 0 0 1em;
clear: left;
}

.principal{width: 940px;
margin: 0 auto; 
padding: 2em;
background: #FEFEFE;
}

.principal p{ 
margin: 0 0 1em;
}

.principal strong {
font-weight: bold; 
}

.principal em {
font-style: italic;
}

.utensilios{ width: 120px;
float: left;
margin: 0 20px 20px 0
}

.mapa{
padding:  3em 0;
font-size: 1em;
background: linear-gradient(#FEFEFE,#888888);
}

.mapa-conteudo{ 
width: 940px;
margin: 0 auto;
}

.mapa p{ 
margin: 0 0 2em;
text-align: center;
}

.imgbe{
width: 60%; 
}

.video{
 width:560px;
margin: 2em auto;
}

.beneficios{ 	
padding: 20px 0;
font-size: 1em;
background: #888888;
}

.conteudo-beneficios { 
width: 640px;
margin: 0 auto;
}

.lista-beneficios { 
width:40%;
display:inline-block;
vertical-align: top;
}

.itens { 
line-height:1.5; 
}

.itens:first-child{
font-weight: bold;
}

.imgbe{ 
width: 60%;
opacity: 1;
transition: 400ms;
box-shadow: 10px 10px  10px #000000;
}

.imgbe:hover{
opacity: 0.3
}

.itens:before{content: "★";}

@media only screen and (max-width:480px) {.caixa,.principal,.conteudo-beneficios,
.mapa-conteudo,.video {width: auto}

/*INICIAL*/

h1{	
text-align: center;
}

h3{	
padding: 20px;
}

nav{
position: static;
}

.banner{
width: 90%;
padding: 20px;
}

.mapa-conteudo{
margin:0 2em;
}

.principal{
padding: 2em;
}

.lista-beneficios {
width: 80%;
padding: 20px;
}

.imgbe{
margin-left: 40px;
width: 80%;
}

.video{
margin:2em 3em;
}

/*PRODUTOS*/

.produtos{
display: inline-block;
}

.produtos li {
text-align: center;
width:70%;
margin: 2em 2em 2em 4em;
padding: 20px 0;
}

/*CONTATOS*/

form {
width:auto;
margin: 1em 0 1em;
padding-left: 20px;
}

.input-padrão{
width: 70%;
}

textarea{
width: 80%;
}

table{
margin-left:25%;
}

select{
font-size:20px;
padding:5px
}
	
.enviar{ 
width:80%;
margin-left:25px;
}

}











