body{
    background-color: #F8F8FF;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border-radius: 50%;
    border: 1px #505050 solid;
}

#titulo{
    font-size: 40px;
    color: #505050;
    text-transform: uppercase;
}

.subtitulo,.titulo__post{
font-style: italic;
color: #505050;
font-weight: bolder;
}
.titulo__post{
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
    
}

.post{
    background-color: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin:0 0 10px 0;
    border-radius: 10px;
    text-align: justify;
}
a{
    text-decoration: line-through;
    color: #505050;
}

.post_content{
    font-family: Verdana;
    margin: 0;
    margin-bottom: 15px;
    font-weight: bolder;
    text-transform:capitalize;
}
.post_img{
    margin: 0 ;
    margin-bottom: 10px;
    width: 100%;
    
}
.contains_list{
    list-style-type: none;
    padding: 0;
    padding-left: 10px;
   
}

.contains_list li{
    padding: 10px;
}

.contains_list li a{
 text-decoration: none;
}