@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  background-color: #F4D03F;

}


.containerInput {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;

}

.lista-input {
  border-radius: 6px;
  width: 100%;
  height: 8em;
}

#input-text {
  padding: 10px;
  outline: none;
  border: solid 2px #000;
  font-size: 1rem;
  width: 25%;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 2px 2px 3px #000;
  transition: border .5s ease;
}

#input-text:focus,
#input-text:active {
  border: solid 2px #d40101;
  box-shadow: 2px 2px 3px #d40101;
}

.botao {
  display: flex;
  background-color: #fc1818;
  color: #fff;
  padding: 10px;
  margin: 0 20px;
  outline: none;
  border: solid 1px #c70505;
  border-radius: 5px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: -1px -1px 9px 1px #d40101;
  transition: all .5s ease;
}

.botao:active {
  margin-top: 2px;
  box-shadow: none;
}

.botao:hover {
  background-color: #e40909;
  transition: all .5s ease;
}

.title {
  width: 80%;
  margin: 1em 10%;
  font-size: 30px;
  border-radius: 7px;
  padding: 15px;
  letter-spacing: .5rem;
  border: 3px solid #000;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 2px 2px 3px #000;
}

.lista-tarefas {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Itemcheck {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  justify-content: space-between;
  padding: 10px;
  word-break: break-all;
  width: 30%;
  margin: 1em 2em;
  border-radius: 8px;
  box-shadow: 2px 2px 3px #000;
}

.Itemcheck button {
  font-size: 22px;
  font-weight: bolder;
  background-color: #ffff;
  padding: .2rem .4rem;
  border-radius: .2rem;
  cursor: pointer;
  margin: 0;
  border: none;
  z-index: 1;
}

.Itemcheck:hover {
  background-color: #000;
  color: #fff;
}

.Itemcheck button:hover {
  background-color: #fe0000;
  color: #fff;
}

.Itemcheck .check {
  padding: 10px;
  font-size: 2rem;
}

.text-list {
  font-size: 1.25em;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.check {
  display: none;
}

.container-check {
  position: relative;
cursor:pointer;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  padding: 5px;
  border: solid 2px black;
  background-color: white;
  border-radius: 5px;
}

.checkmark::after {
  position: absolute;
  content: '';
  left: 12px;
  top: 4px;
  width: 7px;
  height: 15px;
  display: block;
  border: solid white;
  border-width: 0 4px 4px 0;
  border-radius: 2px 0 2px 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .3s ease;
}

.container-check input:checked~.checkmark {
  background-color: #fe0000;
  transition: all .3s ease;
}

.container-check input:checked~.checkmark::after {
  border-color: #fff;
  border-width: 0 4px 4px 0;
  border-radius: 2px 0 2px 2px;
  transition: all .3s ease;
}

.container-check input:checked~.checkmark::after {
  border-color: #fff;
  border-width: 0 4px 4px 0;
  border-radius: 2px 0 2px 2px;
  transition: all .3s ease;
}

.container-check:hover .checkmark {
  background-color: #CCC;
  transition: all .3s ease;
}