
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body{
padding: 5px;
margin: 0;
box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
background-color: #F4D03F; 
}

.check{
display: none;
}

.containerInput{
width: 100%;
height: 100%;
display:flex; 
padding: 1rem;
justify-content: center;
align-items: center;

}

.lista-input{
border-radius:6px;
width: 100%;
height: 8em;
}

#input-text{
padding: 10px;
outline: none;
border: solid 2px #000;
font-size: 1rem;
width: 25%;
font-weight: bold;
border-radius: 4px;
box-shadow: 2px 2px 3px  #000;
transition: border .5s ease;
}

#input-text:focus,#input-text:active{
border: solid 2px #d40101;
box-shadow: 2px 2px 3px  #d40101;
}

.botao{
display: flex;
background-color: #fc1818;
color: #fff;
padding: 10px;
margin: 0 20px;
outline: none;
border:solid 1px #c70505;
border-radius: 5px;
font-weight: bolder;
text-transform: uppercase;
font-size: 1rem;
box-shadow: -1px -1px 9px 1px #d40101;
transition: all .5s ease;
}

.botao:active{
margin-top: 2px;
box-shadow: none;
}
.botao:hover{
background-color: #e40909;
transition: all .5s ease;
}

.title{
width: 80%;
margin: 1em 10%;
font-size: 30px;
border-radius: 7px;
padding: 15px;
border: 3px solid #000;
font-weight: bolder;
text-align: center;
text-transform: uppercase;
background-color: #fff;
box-shadow: 2px 2px 3px  #000;
}

.lista-tarefas{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}

.Itemcheck{
position: relative;
display:flex;
border: 2px solid #000;
text-transform: capitalize;
background-color: #fff;
justify-content: space-between;
padding: 15px;
word-break: break-all;
width: 30%;
margin: 1em 2em;
border-radius: 8px; 
box-shadow: 2px 2px 3px  #000;
}

.Itemcheck button{
display:flex;
align-items: center;
justify-content: center;
font-size: 30px;
width: 1rem;
height: 1rem;
margin: .3rem;
border-radius: 5px;
border: none;
background-color:white;
transition: all .5s ease;
}
.Itemcheck:hover{
background:#000;
color: #fff;
} 

.Itemcheck button:hover  {
color: #fe0000;
border-radius: 5px;
background-color: #fff;
}

.Itemcheck .check{
padding: 10px;
font-size: 2rem;
}

.form-check-label{
width: 100%;
font-size: 20px;
margin-left: 50px;
padding: 4px 0;

}

.checkmark{
position: absolute;
left: 10px;
top: 10px;
width: 1.2rem;
height: 1.2rem;
padding: 5px;
border: solid 2px black;
background-color: white;
border-radius: 5px;
}
.container-check input:checked ~ .form-check-label{
text-decoration: line-through;
}
.container-check input:checked ~ .checkmark{
background-color:#fe0000 ;
}
.container-check input:checked ~ .checkmark::after{ 
border-color:  #fff;
border-width: 0 3px 3px 0;
transition: all .5s ease;
}
.container-check:hover .checkmark{
background-color: #fe0000;

} 
.container-check:hover .checkmark::after  {
border-color:  #fff;
border-width: 0 3px 3px 0;
transition: all .5s ease;
}


.container-check .checkmark:checked ~ .checkmark::after{
display: block;
border-color: black;
border-width: 0 3px 3px 0;
}
    
.container-check .check:not(:checked) ~ .checkmark::after{
display: none;
}

.container-check .checkmark::after{
position: absolute;
content: '';
left: 10px;
top: 6px;
width: 6px;
height: 10px;
border: solid black;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.container-check  ~ .checkmark::after{
display: block;
border-color: black;
border-width: 0 3px 3px 0;
}

