.caixa-1{
    background-color: green;
    color:white
}
.caixa-2{
    background-color: rgb(255, 0, 0);
    color:rgb(0,0,0)
}
.caixa-3{
    background-color: rgb(255, 200, 000);
    color:rgb(255, 255, 255)

}
.caixa-4{
    background-color: #ff00c8;
    color:#ddff00;
}
.caixa-5{
    background-color:#df0;
    color:#000

}