body{
    font-size: 23px;
}

 header /*valor 001*/ { 
    color:orange;
}


#titulo/*valor 100*/ {
color: red; 
}

.cabecario, h1 ,header/*valor 011*/{
    color: blue;
}


 header ,#titulo ,.cabecario, h1 /*valor 112*/{
color: yellow;
} 