*{
    box-sizing:border-box ;
}
body{
     margin: 0 ;
     font-family:Arial, Helvetica, sans-serif; 
     font-size: 14px;
}
header{
    height: 60px;
   border-bottom: solid 1px #ccc;
   
}
header img{
    margin-top: 20px;
}


#planos{
    padding: 80px 0;
   
}

#planos::after{
    display: block;
    content:"";
    clear:both;
}
article{
    padding:10px;
    border:solid 2px #95a4a5;
  
}

article > h2{
background-color: #95a4a5;
color: #fff;
text-align: center;
line-height: 2.5;
margin:-10px;
margin-bottom: 0;
font-weight: normal;
font-size: 28px;
}
article > div{
    text-align: center;
    margin: 20px 0;
    font-size: 28px;
}
article > ul{
    list-style: none;
    text-align: center;
    margin:20px 0;
    padding: 0;
}
article > footer {
    text-align: center;
}
.botão{
    display: inline-block;
    background-color: #127D00;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;

}
.botão:hover ,.botão:focus {
    background-color: #0e6400;


}