.layout__cabecalho{
line-height: 60px;

border-bottom: solid 1px #ccc;
background-color: #fff;
}

.layout__cabecalho .cabecalho--home{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; 
}

.plano__layout{
padding: 80px 0;
}

.plano__layout::after{
    display: block;
    
    content:"";
    clear:both;
}


.layout__chamada{
    padding: 80px 0;
    margin-top:60px;
    
    background-color: #7AB55C;
}

.layout__depoimento{
    background-color: #e6e6e6;
    
    padding: 80px 0;
}
.layout--rodape{
    background-color:#484848 ;
    
    padding: 40px 0;
    text-align: center;
    color:#fff
}
.layout--assinatura{
    padding:40px 0;
}

@media(max-width:749px) {

    .plano__layout .row > div:not(.ultima-coluna){
        margin-bottom: 40px;
    }
    .layout__assinar{
        padding: 40px 0;
    }
    

}

